body,
.card-body {
  background-color: black;
}
p,
h1,
h2,
h3,
h4,
h5 {
  color: white;
}
hr {
  color: aqua;
  opacity: 1;
}

.centrado {
  text-align: center;
}
/* NavBar */

.navbar {
  width: 100%;
  position: fixed;
  z-index: 10;
}

.brand-svg {
  max-width: 3rem;
  max-height: 3rem;
}

.hamburguer-position {
  display: flexbox;
  justify-content: end;
  text-align: end;
}
