body,
.card-body {
  background-color: black;
}
p,
h1,
h2,
h3,
h4,
h5,
footer i {
  color: white;
}
hr {
  color: rgba(51, 138, 160, 0.938);
  opacity: 1;
}

.centrado {
  text-align: center;
}
/* NavBar */

.navbar {
  width: 100%;
  position: fixed;
  z-index: 10;
}

.brand-svg {
  max-width: 3rem;
  max-height: 3rem;
}

.hamburguer-position {
  display: flexbox;
  justify-content: end;
  text-align: end;
}

/* Quienes Somos */

/* Color de Fondo */
.bg-celeste {
  background-color: rgba(51, 138, 160, 0.938);
}
@media screen and (max-width: 320px) {
  .ocultar-sm {
    display: none;
  }

  /* Footer */
  footer p {
    margin: 0;
    padding: 5px 30px 5px 5px;
  }
  /* Control Iconos*/
  .footer-icon {
    font-size: 8px;
    display: inline-block;
    padding-top: 5px;
  }
}
