body,
.card-body {
  background-color: black;
}
p,
h1,
h2,
h3,
h4,
h5,
footer i {
  color: white;
}
hr {
  color: rgba(51, 138, 160, 0.938);
  opacity: 1;
}

.centrado {
  text-align: center;
}
/* NavBar */

.navbar {
  width: 100%;
  position: fixed;
  z-index: 10;
}

.brand-svg {
  max-width: 3rem;
  max-height: 3rem;
}

.hamburguer-position {
  display: flexbox;
  justify-content: end;
  text-align: end;
}
/* Carousel */
.my-carousel {
  margin-bottom: 70px;
}
/* Quienes Somos */
.quienes-somos .card-title {
  padding: 2px 0 2px 0;
}

.card-text_size {
  max-height: 305px;
  overflow: hidden;
}
.quienes-somos {
  margin-bottom: 50px;
}
/* Destacadas */
.card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.cards-destacadas {
  margin-bottom: 100px;
}

/* Footer */
footer p {
  font-size: 30px;
  margin: 0;
  padding: 5px 30px 5px 5px;
}
/* Control Iconos*/
.footer-icon {
  display: inline-block;
  padding-top: 5px;
  margin-right: 9px;
}
/* Color de Fondo */
.bg-celeste {
  background-color: rgba(51, 138, 160, 0.938);
}

@media screen and (max-width: 760px) {
  /* NAV Logo SVG */
  .brand-svg {
    max-width: 2rem;
    max-height: 2rem;
  }
  /* Carousel */
  .my-carousel {
    margin-bottom: 20px;
  }

  /* Ocultar Small - Quienes Somos y Menu Quienes Somos*/
  .ocultar-sm {
    display: none;
  }
  /* Destacadas */
  .card {
    margin-bottom: 20px;
    border-radius: 3px;
  }
  .cards-destacadas {
    margin-bottom: 20px;
  }
  /* Footer */
  footer p {
    margin: 0;
    padding: 5px 30px 5px 5px;
  }
  /* Control Iconos*/
  .footer-icon {
    font-size: 8px;
    display: inline-block;
    padding-top: 5px;
  }
}
